html {
  height: 100%;
  width: 100%;
}

.banner{
	background-color: rgba(255, 194, 113, 0.8);
	margin: 15px;
	padding: 10px;
	border: 3px solid #ff0000;
	box-shadow: 1px 3px 30px 1px #ff7a7a;
	text-transform: capitalize;
	text-shadow: 1px 1px #D9A404 ;
	font-family: cursive;
	height: 100px;
	text-align: right;
	font-style: oblique;
}

.menu{
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 2em;
  text-align: left;
  z-index: 1;
}
