html {
  height: 100%;
  width: 100%;
}

body{
background-color: #8fed80;	
}

.banner{
	background-color: #50c43d;
	margin: 15px;
	padding: 10px;
	border: 3px solid #e6e615;
	box-shadow: 1px 3px 30px 1px #ff7a7a;
	text-transform: capitalize;
	text-shadow: 1px 1px #D9A404 ;
	font-family: cursive;
	height: 100px;
	text-align: right;
	font-style: oblique;
}

.menu{
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 2em;
  text-align: left;
  z-index: 1;
}

#left{
  position: absolute;
  left: 1px;
  margin: 2px;
  padding: 2px;
  border: 3px solid black;
  width: 49.5%;
  height: 850px;
}

#left h1{
  font-size: 20px;
}
#right{
position: absolute;
right: 1px;
margin: 2px;
padding: 2px;
border: 3px solid black;
width: 49.5%;
height: 550px;
}

#prj{
  border: 1px solid green;

b{
color: yellow;
}
